

<!doctype html>
<html>

<head>
    <title>CoolCalcs</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./logo.ico">
    
</head>

<body>
    <nav class="navbar">
        <div class="logo"><a href="<%= baseURL %>/">Cool<span style="color: #ffe45e">Calcs</span></a></div>
        <div class="nav-links">
            <a href="<%= baseURL %>/#about">About</a>
            <a href="<%= baseURL %>/#calculators">Calculators</a>
        </div>
    </nav>



    <div class="site">
        <div class="textbox">
            <hr class="hr-style" style="margin-top: 2.5rem;">
            <h1 class="h1-style">ERROR</h1>
            <hr class="hr-style">
        </div>


    </div>
    




</body>


</html>