

<!doctype html>
<html>

<head>
    <title>./shabman01</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link rel="icon" type="image/x-icon" href="./icon.ico">
</head>

<body>
    <nav class="navbar">
        <div class="logo"><a href="/">ShabMan</a></div>
        <div class="nav-links">
            <a href="#aboutme">About Me</a>
            <a href="#achievements">Achievements</a>
            <a href="#activities">Activities</a>
            <a href="#education">Education</a>
            <a href="#projects">Projects</a>
            <a href="#skills">Skills</a>
        </div>
    </nav>


    <h1>this is shabman's epic portfolio</h1>
    <h2>im shabman</h2>
    <h3>aka shabeer manalai</h3>
    <h4>check my projects n stuff</h4>
    <h5>theyre pretty cool i think</h5>
    <h6>css coming soon... hopefully</h6>
    <hr>
    <h2>projects</h2>
    <ul>
        <li><a href="https://github.com/ShabMan01/CoolCalcs">CoolCalcs</a></li>
    </ul>



</body>



</html>

