/*
 * black: #2b2d42 (black)
 * white: #e5e5e5 (white)
 * primary: #7fc8f8 (blue)
 * secondary: #ffe45e (yellow)
*/



/* ---------------------------------------------------------------------------------------------------- */

@font-face {
    font-family: "Mont";
    src: url(./fonts/Mont-HeavyDEMO.otf)
}

@font-face {
    font-family: "Coco";
    src: url(./fonts/Coco-Sharp-Bold-trial.ttf)
}

/* ---------------------------------------------------------------------------------------------------- */

::-webkit-scrollbar {
    width: 0.5vw;
    background: rgba(240,240,240,1);

}
 
::-webkit-scrollbar-thumb {
    background: rgba(150,150,150,0.45); 
    border-radius: 25px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(150,150,150,0.85); 
}

/* ---------------------------------------------------------------------------------------------------- */

body {
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(240,240,240,1) 50%);
    
    padding: 1rem;
    margin: 0;

    overflow: overlay;
    
    font-family: Coco;
}

/* ---------------------------------------------------------------------------------------------------- */

.navbar {
    background-color: #0099ff;
    color: white;
    filter: drop-shadow(0rem 0.5rem 0.5rem #015f9e);
    border-color: transparent;
    border-radius: 5rem;

    padding: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 1rem;

    font-size: 1.25rem;
    font-weight: bold;
    user-select: none;
}

.logo a {
    color: white;

    text-decoration: none;
}

.nav-links {
    user-select: none;

    display: flex;
    align-items: center;
}

.nav-links a {
    color: white;
    
    margin-right: 1.5rem;

    text-decoration: none;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffe45e;
    filter: drop-shadow(0rem 0.5rem 0.5rem #ffe45e);

    transform: scale(1.05);
}

/* ---------------------------------------------------------------------------------------------------- */

.site {
    padding-left: 1.5rem;
    padding-right: 1.5rem;

}

.textbox {
    background-color: rgb(255,255,255);
    color: #015f9e;
    filter: drop-shadow(0rem 0.5rem 0.5rem rgb(200, 200, 200));

    border-color: transparent;
    border-radius: 5rem;
    
    padding: 2rem;
    padding-bottom: 2.75rem;
    margin-top: 5rem;
    margin-bottom: 5rem;

    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

hr {
    background-color: #015f9e;
    color: #015f9e;

    width: 50rem;
    height: 0.2rem;

    border-color: transparent;
    border-radius: 25rem;

    margin: 0.5rem;
    margin-bottom: 1rem;

    justify-self: center;
    align-self: center;
}

.hr-style {
    margin: 2rem;
}

.h1-style {
    margin: 0;
}

p {
    font-size: 1.2em;
}

/* ---------------------------------------------------------------------------------------------------- */

.calc-container {
    margin-top: 1rem;

    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.calc {
    background-color: rgb(255,255,255);
    color: #015f9e;

    border: 0.25rem solid #015f9e;
    border-radius: 5rem;

    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;

    text-decoration: none;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    transition: 0.3s;
}

.calc:hover {
    background-color: #015f9e;
    color: #ffe45e;

    transform: scale(1.05);
}

/* ---------------------------------------------------------------------------------------------------- */

.link {
    color: #0099ff;

    text-decoration: none;

    transition: 0.3s;
}

.link:hover {
    color: #ffe45e;

    transform: scale(1.01);
    font-weight: bolder;
}